<div class="col-lg-4 col-md-6 mb-4">
  <div class="product-card">
    <div class="product-image">
      <%= image_tag product.image.present? ? product.image : "isuzu.jpg", alt: product.name, class: "img-fluid" %>
    </div>
    <div class="product-info p-3">
      <h5 class="product-name"><%= product.name %></h5>
      <p class="product-description"><%= truncate(product.descrption, length: 100) %></p>
      <div class="product-price">
        <span class="price">$<%= product.price %></span>
      </div>
      <div class="product-actions mt-3">
        <%= link_to "View Details", product_path(product), class: "btn btn-outline-success me-2" %>
        <%= button_to "Add to Cart", add_item_cart_path, 
              params: { product_id: product.id, quantity: 1 }, 
              method: :post, class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
